/*button {*/
/*    background-color: #818c98;*/
/*    color: #fff;*/
/*    border-radius: 12px;*/
/*    !* width: 80px; *!*/
/*    border: none;*/
/*}*/

A {
    text-decoration: none;
    color: red;
}
A:visited {
    color: red;
}
.img1 {
    border-radius: 50%;
    width:50%;
}

img {
    width: auto;
    height: 20vw;
}

.selectPhoto img{
    width: auto;
    height: 10vw;
}

/*.myPhotos img{*/
/*    width: auto;*/
/*    height: 5vw;*/
/*}*/

#photoViewer img{
    width: auto;
    height: 20vw;
    margin: 1vw;
}

#Photos {
    text-align: center;
}

#Photos img {
    display: inline-block;

}

.postReader .mainImage img {
    width: auto;
    height: 20vw;
}

.postReader #like img{
    width: auto;
    height: 5vw;
}

.photoPreview  *{
    width: auto;
    height: 20vw;
}
.photoPreview #video{
    position: absolute;
    z-index: -1;
}


#preview {
    /*border-radius: 8px;*/
    border-color: aqua;
   /*border-style: solid;*/
}

nav {
    margin-bottom: 1vw;
}

input {
    width: 20vw;
}
