php_flag display_errors 1
AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUSET_FILENAME} !-f
RewriteCond %{REQUSET_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg|jpeg)
RewriteRule .* index.php
